@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';


html {
	scroll-behavior: smooth;
}

@layer utilities {
	.no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;  
		scrollbar-width: none; 
  }
} 


@font-face {
  font-family: Roboto;
  src: url();
}

@theme {
  --color-primary: #f4f1de;
  --color-text-color: #3d405b;

  --font-lora: 'Lora', sans-serif;
  --font-roboto: 'Roboto', sans-serif;

  --breakpoint-xs: 475px;
  --breakpoint-sm: 375px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 1920px;
  /* --custombreakpoint-mdcustom: jk  */

  --width-xs: 100%;
  --width-sm: 640px;
  --width-md: 768px;
  --width-lg: 1024px;
  --width-xl: 1280px;
  --width-2xl: 1536px;

  --keyframes-overlayShow: {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  --keyframes-contentShow: {
    from {
      opacity: 0;
      transform: translate(-50%, -48%) scale(0.96);
    }
    to {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }

  --keyframes-contentHide: {
    from {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
    to {
      opacity: 0;
      transform: translate(-50%, -48%) scale(0.92);
    }
  }

  --animate-overlayShow: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  /* --animate-contentShow: contentShow 300ms cubic-bezier(0.16, 1, 0.3, 1); */
  --animate-contentShow: contentShow 300m cubic-bezier(0.7, 0, 1, 1);
  --animate-contentHide: contentShow 250ms cubic-bezier(0.7, 0, 1, 1);
}



.container {
  width: 100%;
  margin: 0 auto;
  padding-left: var(--container-padding-mobile);
  padding-right: var(--container-padding-mobile);
}

@media (min-width: 768px) {
  .container {
    padding-left: var(--container-padding-tablet);
    padding-right: var(--container-padding-tablet);
  }
}

@media (min-width: 1024px) {
  .container {
    padding-left: var(--container-padding-desktop);
    padding-right: var(--container-padding-desktop);
  }
}

@media (max-width: 639px) {
  .mobile-only {
    display: block;
  }
  .desktop-only {
    display: none;
  }
	
}


@media (min-width: 1024px) {
  .mobile-only {
    display: none;
  }
  .desktop-only {
    display: block;
  }
}
